* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: transparent;
  background: transparent;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: auto;
       column-gap: auto;
  margin-top: 50px;
}

.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  width: 880px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border: 1px solid #999;
  border-radius: 40px;
}

.header {
  position: relative;
}
.header::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #456032;
}

.form input {
  width: 100%;
  color: #999;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.header-users {
  display: flex;
  margin-left: 100px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header-nav {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
  align-items: center;
}
.header-nav_link {
  text-align: center;
  color: var(--Grey-600, #333);
  text-align: center;
  /* Body Normal Semibold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 16px;
  /* 150% */
  transition: 0.5s;
}
.header-nav_link:hover {
  border: 1px solid #333;
  padding: 8px 16px;
  border-radius: 8px;
  animation-name: link;
  animation-duration: 1s;
}
@keyframes link {
  from {
    background: #97e062;
    opacity: 1;
  }
}
.header-nav_link:active {
  background: #76a654;
  transition: 1s;
}

.header-banner {
  margin-top: 10px;
  height: 70vh;
}

.banner-catalog {
  display: flex !important;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.banner-catalog-info {
  width: 50%;
  text-align: center;
}
.banner-catalog-info .catalog-info_title {
  color: #333;
  text-align: left;
  /* Heading 1 */
  font-family: Libre Baskerville;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catalog-info_text {
  color: var(--Grey-500, #666);
  text-align: left;
  /* Body Large Regular */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
  padding-block: 24px;
}

.catalog-info-btn {
  padding: 12px 24px;
  position: absolute;
  left: 0;
  border-radius: 40px;
  background: var(--Primary, #658C4A);
  color: var(--White, #FFF);
  text-align: center;
  /* Body Large Semibold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 140% */
}

.banner-catalog2-info {
  width: 388px;
}

.catalog2-info_title {
  color: var(--Grey-600, #333);
  text-align: center;
  /* Heading 5 */
  font-family: Libre Baskerville;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catalog2-info_text {
  color: var(--Grey-600, #333);
  text-align: center;
  /* Body Large Regular */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
  padding-block: 16px;
}

.catalog2-info-btn {
  color: var(--Primary, #658C4A);
  display: block;
  text-align: center;
  /* Body Large Semibold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 140% */
  position: relative;
}
.catalog2-info-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.catalog2-info-btn::before {
  content: " ";
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  z-index: -1;
  border-radius: 40px;
  background: var(--Secondary, #E7CEC0);
}

.grid-catalog {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  overflow: hidden;
  height: 50vh;
  width: 100%;
  padding: 20px;
}
.grid-catalog .grid-catalog-info {
  bottom: 2rem;
  left: 0;
}

.image-positions, .image-positions2, .imag.e-positions3, .image-positions4 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.image-positions3, .image-positions23, .imag.e-positions33, .image-positions43 {
  height: 100%;
  width: 100%;
}
.image-positions5, .image-positions25, .imag.e-positions35, .image-positions45 {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.grid-items1 {
  grid-column: span 5;
  grid-row: span 2;
  overflow: hidden;
}

.grid-items2 {
  grid-column: span 4;
  overflow: hidden;
}

.grid-items3 {
  grid-column: span 3;
  overflow: hidden;
}

.grid-items4 {
  grid-column: span 4;
  grid-row: span 3;
  overflow: hidden;
}

.grid-items5 {
  grid-column: span 7;
  overflow: hidden;
  grid-row: span 1;
}/*# sourceMappingURL=index.css.map */